body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {

  display: inline-block;
  background: linear-gradient(45deg,rgba(210,210,210,0.3),rgba(255,255,255,0.7));
  font-size: 1.05rem;
  border-radius: 5px;
  border: 2px solid rgb(153, 153, 255,0.7);
}
input,select {
border-radius: 5px;
border: 1px solid rgb(153, 153, 255);
padding: 0.5dvh 1dvw;


}



select {
  background: linear-gradient(45deg,rgba(210,210,210,0.3),rgba(255,255,255,0.7));
}