body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {

  display: inline-block;
  background-color: rgba(210,210,210,0.8);
  font-size: 1.05rem;
  border-radius: 5px;
}
input {
border-radius: 5px;
border: 1px solid rgb(153, 153, 255);
padding: 0.5dvh 1dvw;
font-size: 1.05rem;
}